
/* Global styles */

:root {
    font-size: 16px;
    --main-accent-color: hsl(209, 100%, 50%);
}

.light {
    --main-text-color: hsl(0, 0%, 9%);
    --main-background-color: hsl(0, 0%, 99%);
    --secondary-background-color: hsl(0, 0%, 92%);
    --secondary-accent-color: hsl(208, 60%, 58%);
}
.dark {
    --main-text-color: hsl(225, 75%, 90%, .75);
    --main-background-color: hsl(0, 0%, 12%);
    --secondary-background-color: hsl(0, 0%, 24%);
    --secondary-accent-color: hsl(0, 0%, 95%);
}

.check.dark::before {
    transform: translateX(130%);
}

body {
    background-color: var(--main-background-color);
    overflow-x: hidden;
}

li {
    display: inline-block;
}
h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Comfortaa', Arial, sans-serif;
    font-weight: 700;
    position: relative;
    top: 3%;
    left: 3%;
    opacity: .5;
    transition: opacity .8s ease-out, top .8s ease-out;
}

h2, h3, h4, strong, p, img, li, em, button, a {
    color: var(--main-text-color);
    line-height: 1.75;
    font-family: 'Outfit', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
h2, h3, h4 {
    color: var(--secondary-accent-color);
}
a, button {
    font-size: 1.4rem;
}

a {
    color: var(--main-accent-color);
    text-decoration: none;
    padding: 5%;
    transition: color ease .5s, font-weight ease .5s;
    
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: hsl(271, 100%, 100%);
}
a:visited:active {
    transition: color ease .75s;
    color: var(--secondary-accent-color);
}

h2 {
    width: 100%;
    font-size: 4rem;
    font-weight: 500;
}
.info h2 {
    width: 200%;
    margin-top: 10%;
    margin-left: 400%;
}

h3 {
    font-size: 2.5rem;
}
.info h3 {
    position: relative;
    transform: translate(2%, -40%);
}

h4 {
    margin-top: 4vh;
    margin-right: 15vw;
    font-size: 1.5rem;
    display: inline-block;
}

p {
    font-size: 1.25rem;
    font-weight: 500;
}
em {
    color: var(--main-text-color);
    font-size: 2rem;
    margin: 1%;
}

img {
    width: 500%;
    height: auto;
}
li img {
   width: 60%;
}
img[src="./resources/images/close.svg"]:hover {
    background-color: var(--secondary-background-color);
}

button {
    --main-text-color: hsl(0, 0%, 99%);
    width: 105%;
    padding: 2.5%;
    border-radius: 3.5%;
    background-color: var(--main-accent-color);
    color: var(--main-background-color);
    transition: color .5s, background-color .5s;
    cursor: pointer;
}
button:hover {
    background-color: var(--main-background-color);
    color: var(--main-accent-color);
}
button:active {
    transition: color .1s;
    color: hsl(202, 85%, 85%);
}
button:nth-child(5) {
    margin-top: 5vh;
    height: 4rem;
    width: 16rem;
    padding: 0;
    border-radius: 3%;
}

input[type="checkbox"] {
    cursor: pointer;
    position: relative;
    opacity: 1;
    transform: scale(1.25);
    left: 32%;
    top: -.3vh;
    z-index: 5;
}

.check {
    position: relative;
    top: .7vh;
    left: 25%;
    display: inline-block;
    width: 3.75vw;
    height: 3.5vh;
    background-color: var(--main-accent-color);
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 1vh;
    margin-left: .75vw;
}
.check:before {
    content: '';
    position: absolute;
    top: 10%;
    left: 7%;
    background-color: var(--main-background-color);
    width: 1.5vw;
    height: 2.8vh;
    border-radius: 50%;
    transition: transform ease 0.75s;
}

header, footer, .hero, .info, .projects {
    width: 100%;
    height: 100%;
 }


/* Page Styles */


body {
    display: grid;
    grid-template-areas: "header header header"
                     "hero hero hero" 
                     "info info info"
                     "space1 projects space2"
                     "footer footer footer";
    grid-template-rows: 12vh 68vh 100vh 325vh 14vh;
    grid-template-columns: 10vw 80vw 10vw;
}

header {
    background-color: var(--main-background-color);
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer {
    margin-top: 2.5%;
    padding: .5%;
    grid-area: footer;
    background-color: var(--main-accent-color);
}
footer a {
    color: hsl(208, 86%, 12%);
    text-decoration: underline;
    padding: 0;
}
footer p {
    color: var(--main-background-color);
}

li {
    margin-top: 2.5%;
    position: relative;
}
li:nth-child(1) {
    left: -55%;
}
li:nth-child(2) {
    left: -40%;
}
li:nth-child(3) {
    left: -25%;
}
li:nth-child(4) {
    left: -18%;
    top: .5vh;
}
li:nth-child(5) {
    left: -25%;
}


div > span {
    border-radius: 50%;
    width: 5%;
    height: 5%;
    background-color: white;
    opacity: .25;
    z-index: 6;
}

.center {
    text-align: center;
}
.hero {
    width: 1000%;
    height: 100%;
    background-color: aliceblue;
    grid-area: b;
    z-index: 0;
}
.info {
    grid-area: c;
}
.projects {
    margin-top: 40vh;
    grid-area: d;
    position: relative;
    top: 5vh;
    left: 25vw;
    width: 650%;
}
.circles {
    display: flex;
    z-index: 5;
    width: 15%;
    height: 25%;
    justify-content: space-around;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    padding: 1.5vw;
    position: relative;
    top: 5vh;
    left: 25vw;
    width: 600%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: background-color .3s ease-in;
}
.container:hover, .image-container:hover{
    background-color: var(--secondary-background-color);
}
.container h3 {
    display: inline-block;
}

.image-container {
    box-sizing: border-box;
    padding: 2%;
    width: 85%;
    height: 130%;
    border-radius: 12px;
    transition: background-color .3s ease-in;
    filter: drop-shadow(9px 9px 3px var(--secondary-background-color));
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.image-container a {
    display: block;
}
.image-container:nth-child(2) {
   height: 140%;
}
.image-container:nth-child(3) {
    height: 125%;
}
.image-container:nth-child(4) {
    height: 125%;
}

.image-container div {
    width: 100%;
    height: 65vh;
    background-image: url('./resources/images/testimonials.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-container:nth-child(3) div {
    background-image: url('./resources/images/nft.png');
}   
.image-container:nth-child(4) div{
    background-image: url('./resources/images/club.png');
    background-position: 0% 0%;
}

.projects a {
    padding: .5%;
}
.projects img {
    width: 60vw;
}

.about {
    display: none;
    flex-wrap: wrap;
    width: 80%;
}
.about a {
    padding: 0;
}

.badge {
    padding: 1%;
    width: 8vw;
    height: 6vh;
    cursor: pointer;
    margin-left: 1vw;
}
.mobile {
    display: none;
}

#first-drop, #second-drop {
    margin-top: 3vh;
    transition: transform .75s ease;
    cursor: pointer;
}
#first-drop, #second-drop, #profile {
    width: 5vh;
}
#profile {
    width: 10vh;
    border-radius: 50%;
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
    body {
        grid-template-rows: 12vh 68vh 125vh 335vh 15vh;
    }
    .projects {
        position: relative;
        top: 30vh;
    }
    .container {
        width: 700%;
        top: 1.5vh;
        left: 21vw;
    }
    .check {
        width: 4.5vw;
    }
    .check:before {
        width: 2vw;
    }
 } 
@media only screen and (max-width: 1024px) and (min-width: 769px) {
   :root {
      font-size: 14px;
   }
    body {
        grid-template-rows: 12vh 70vh 210vh 320vh 15vh;
    }
    .projects {
        margin-top: 120vh;
    }
    .check {
        width: 6vw;
        height: 3.5vw;
    }   
    .check:before {
        width: 2.5vw;
        height: 3.75vh;
        top: 12%;
        left: 5%;
    }
    #first-drop, #second-drop {
      margin-left: 25%;
  }
 } 
@media only screen and (max-width: 768px) and (min-width: 481px) {
    body {
        grid-template-columns: 100vw;
        grid-template-rows: 12vh 70vh 210vh 240vh 15vh;
        grid-template-areas: "header"
                             "hero" 
                             "info"
                             "projects"
                             "footer";
    }
    header, footer, .hero, .projects, .info {
        width: 100%;
    }
    .hero {
        background: linear-gradient(45deg, hsl(356, 90%, 59%), hsl(248, 44%, 39%));
    }
    .projects {
        margin-left: -15vw;
        margin-top: 50vh;
    }
    button {
        color: var(--main-accent-color);
        background-color: transparent;
        border-radius: 0;
    }
    ul {
        flex-wrap: wrap;
        position: relative;
        top: 0;
        left: -25%;
        width: 100%;
        height: 80.5vh;
        padding: 5%;
        opacity: 1;
        background-color: hsla(0, 100%, 100%, 0.1);
        z-index: 200;
        transition: transform .75s;
    }
    li {
        line-height: 3.8;
    }
    li:nth-child(1) {
        margin-top: 12vh;
        margin-left: 15vw;
    }
    li:nth-child(2) {
        margin-left: 11.5vw;
    }
    li:nth-child(3) {
        margin-left: 5vw;
    }
    li:nth-child(4) {
        margin-left: 5vw;
    }

    .check {
        width: 7vw;
        height: 4vh;
    }
    .check::before {
        top: 14%;
        width: 40%;
        height: 70%;
    }

    img.mobile {
        display: inline-block;
        transform: scale(.6, .6);
        position: relative;
        top: -1vh;
        left: 37.5vw;
        cursor: pointer;
    }
    img#close {
        display: none;
        z-index: 120;
        transform: scale(.5, .5);
    }
    .container {
        margin-top: -10vh;
        margin-left: -25vw;
        width: 90%;
    }
 } 
 @media only screen and (max-width: 480px) and (min-width: 320px) {
    :root {
        font-size: 13px;
    }
    body {
        grid-template-columns: 100vw;
        grid-template-rows: 12vh 120vh 240vh 210vh;
        grid-template-areas: "header"
                             "hero" 
                             "info"
                             "projects";
    }
    footer {
        display: none;
    }

    em {
        display: none;
    }
    em.mobile {
        display: inline-block;
        margin: 1rem;
    }

    button {
        color: var(--main-accent-color);
        background-color: transparent;
        border-radius: 0;
    }

    li {
        line-height: 3.8;
    }
    li:nth-child(1) {
        margin-top: 15vh;
        margin-left: 60vw;
    }
    li:nth-child(2) {
        margin-left: 45vw;
    }
    li:nth-child(3) {
        margin-left: 30vw;
    }
    li:nth-child(4) {
        margin-left: 25vw;
    }
    li:nth-child(5) {
        margin-left: 7.5vw;
    }

    
    ul {
        background-color: hsla(0, 100%, 100%, 0.25);
        width: 100vw;
        height: 100vh;
        transform: translateX(30vw);
        transition: transform .75s;
    }

    img.mobile {
        display: inline-block;
        transform: scale(.6, .6);
        margin-left: 25vw;
    }
    img#close {
        transform: scale(.6, .6) translateX(30vw);
        display: none;
        z-index: 10;
    }

    .hero {
        background: linear-gradient(45deg, hsl(356, 90%, 59%), hsl(248, 44%, 39%));
    }

    header, footer, .hero, .projects, .info {
        width: 100%;
    }

    .container {
        margin-top: -10vh;
        margin-left: -25vw;
        width: 90%;
    }
    .projects {
        margin-left: -15vw;
    }
    .badge {
        width: 20vw;
        height: 15vw;
    }
    .check {
        width: 15vw;
        height: 3.5vh;
    }
    .check:before {
        width: 50%;
        height: 80%;
    }

    .image-container:nth-child(2) {
        height: 80%;
    }
     .image-container:nth-child(3) {
         height: 70%;
    }
     .image-container:nth-child(4) {
         height: 70%;
    }

     .projects button {
        margin-bottom: 5%;
    }

}  

@supports (backdrop-filter: blur(1rem)) {
    ul {
        backdrop-filter: blur(50px);
    }
 } 

@media print {
    nav {
        display: none;
    }
    a[href^="http"]:after {
      content: " (" attr(href) ")";
    }
 }
 