.check:before {
    content: '';
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: var(--main-background-color);
    width: 1.5vw;
    height: 2.8vh;
    border-radius: 50%;
    transition: transform ease 0.8s;
    transform: translateX(128%)
}